@import "tailwindcss";
@font-face {
  font-family: Halveticaa;
  src: url(/Fonts/HelveticaNowDisplay-Regular_5Mzhp8KlA8_CAVTbnsPOM.woff2);
}

@font-face {
  font-family: HalveticaLight;
  src: url(/Fonts/HelveticaNowDisplay-Light.woff2);
}

@font-face {
  font-family: newmachina;
  src: url(/Fonts/NeueMachina-Regular_DQCmjH1st.ttf);
}
