@import "tailwindcss";
@font-face {
  font-family: Halveticaa;
  src: url(/Fonts/HelveticaNowDisplay-Regular_5Mzhp8KlA8_CAVTbnsPOM.woff2);
}

@font-face {
  font-family: HalveticaLight;
  src: url(/Fonts/HelveticaNowDisplay-Light.woff2);
}

@font-face {
  font-family: newmachina;
  src: url(/Fonts/NeueMachina-Regular_DQCmjH1st.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

html,
body {
  height: 100%;
  width: 100%;
  background: linear-gradient( #0C0C0C);
  color: white;

}
/* 
nav {
  height: 80px;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  font-family: HalveticaLight;

}

.left {
  height: 100%;
  width: 20%;

  padding: 10px;
  display: flex;
  gap: 10px;
  align-items: flex-start;
  justify-content: center;
}

.left .logo {
  width: 40px;
  height: 40px;
}

.logo img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.brand-name h4 {
  opacity: 0.9;
  font-weight: 400;
}

.center {
  height: 100%;
  width: 50%;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;

}

.center a {
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  font-size: 14px;
}

.right {
  height: 100%;
  width: 10%;

  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-around;

}

.right img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  object-fit: cover;
}

.right h4 {
  font-size: 18px;
} */

button {
  padding: 12px 25px;
  width: fit-content;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: #24CFA6;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  margin: 20px;
  color: #0C0C0C;
  
}
/* 
.hero {
  height: 100%;
  width: 100%;
position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;


} */
/* 
.hero-text {
  font-family: newmachina;
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 65%;
  padding: 40px;


  text-align: center;
} */

.hero-text h1 {
  font-size: 80px;
  font-weight: 400;
  line-height: 0.9;
  opacity: 0.9;
}

.teach {
  color: #24CFA6;
}

.good {
  font-weight: 50;
}
.get-ready{
  position: absolute;
  width: 17%;
  right: 10%;
  padding: 1rem;

  font-family: Halveticaa;

 
  
}
p{
    font-size: 14px;
  font-weight: 100;
}
p span{
  color: #24CFA6;
}
.record-list{
  width: 100%;
  height: 200px;

  display: flex;
  padding: 30px;
  gap: 10px;
  align-items: center;
  justify-content: center;
}.record{
  width: 20%;
  height: 100px;
 
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
 align-items: center;
 justify-content: center;
}
.record h4{
  font-size: 1.6rem;
  font-family:  Halveticaa;
}

.record p{
  font-size: 1.2rem;
  font-family:  Halveticaa;
}